.content {
    width: 100%;
    align-items: center;

}
.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.date_label{
    padding: 18px;
}

.date-navigation button {
    background: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #0000ff;
    padding: 2px 15px;
    color: #0000ff;
}

.date-navigation span {
    margin: 0 10px;
    font-size: 20px;
}

.record__list{
    width: 70%;
    border-collapse: collapse;

}


.record__list-label, .record__list-item{
    padding: 20px 30px;
    text-align: left;
    border-top: 1px solid #000000;
}

