.content{
    width: 100%;
    align-items: center;

}
.content__item{
    margin-top: 32px;
    width: 54%;
}

.content__item-form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content__item-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 180px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    margin: 16px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.content__item-card:disabled {
    color: #dcdcdc;
    cursor: not-allowed;
}